<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.RoleDao">
    <resultMap id="roleMap" type="role">
        <id property="id" column="id"></id>
        <result property="rolename" column="rolename"></result>
        <collection property="users"
                    select="com.demo.dao.UserDao.selectUsersByRid"
                    column="id">
        </collection>
        <collection property="permissions"
                    select="com.demo.dao.PermissionDao.selectPermissionsByRid"
                    column="id">
        </collection>
    </resultMap>
    <select id="selectRolesByUid" parameterType="int" resultType="role">
        SELECT * FROM sys_role WHERE id IN(
        (SELECT rid FROM sys_user_role WHERE uid=#{uid})
        )
    </select>
    <select id="selectAllRoles" resultMap="roleMap">
        SELECT * FROM sys_role
    </select>
    <select id="selectRolesByPerid" parameterType="int" resultType="role">
        SELECT * FROM sys_role WHERE id IN(
        (SELECT rid FROM sys_role_permission WHERE perid=#{perid})
        )
    </select>

    <select id="selectRoleNamesByUid" parameterType="int" resultType="string">
        SELECT r.rolename
        FROM sys_user_role ur INNER JOIN sys_role r ON ur.rid=r.id
        WHERE ur.uid=#{uid}
    </select>

    <select id="selectRolesByProperty" parameterType="String" resultType="role">
        SELECT * FROM sys_role
        <where>
            <if test="rolename!=null and rolename!=''">
                AND rolename LIKE concat('%', #{rolename}, '%')
            </if>
        </where>
    </select>

    <select id="selectPermissionsByRid" parameterType="int" resultType="permission">
        SELECT p.* FROM sys_role_permission rp, sys_permission p
        WHERE rp.perid=p.id AND rp.rid=#{rid}
    </select>
    
    <delete id="deleteRolePermissionsByRid" parameterType="int">
        DELETE FROM sys_role_permission WHERE rid=#{rid}
    </delete>
    <insert id="insertRolePermission">
        INSERT INTO sys_role_permission(rid,perid) VALUES (#{rid}, #{perid})
    </insert>
</mapper>